*{
   padding: 0;
   /* margin: 0; */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
   font-weight: 700;
  
}
body{
   background-color: aliceblue;
   display: flex;
   justify-content: center;
}
.box{
   display: flex;
   flex-direction: column;
   /* background-color: yellow; */
   text-align: center;
}

.outputData{
   display: flex;
   text-align: center;
   align-items: center;
}
#userInput{
   width: 600px;
   height: 150px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none;
   font-size: 16px;
}

.outPut{
   margin-top: 30px;
   /* background-color: tomato; */
   display: flex;
   flex-direction: column;

}


#outPutBox{
   background-color: violet;
}
.temp{
   display: flex;
}



@media (max-width: 350px){
   h1{
      font-weight: 50px;
      /* font-size: small; */
     
   }
   H2{
      font-size: 18px;
   }
   #userInput{
      width: 250px;
      height: 100px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
      font-size: 16px;
   }
}

@media (min-width: 350px) and (max-width:650px ) {
   H2{
      font-size: 18px;
   }
   h1{
      font-weight: 80px;
      /* font-size: small; */
     
   }
   #userInput{
      width: 300px;
      height: 150px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
      font-size: 16px;
   }
 }
 